.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --pixel_size: 4;
}

.first_walk {
  top: calc(0px * var(--pixel_size));
}
.sec_walk {
  top: calc(-40px * var(--pixel_size));
}
.third_walk {
  top: calc(-80px * var(--pixel_size));
}

.Character {
  width: calc(40px * var(--pixel_size));
  height: calc(40px * var(--pixel_size));
  /* background: blue; */
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.dog_sprite {
  animation: run_sprite 1s steps(3) infinite;
  width: calc(120px * var(--pixel_size));
  position: absolute;
}

.pixelart {
  image-rendering: pixelated;
}

@keyframes run_sprite {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
